<form autocomplete="off" [formGroup]="SolicitudPermisoForm">
    <div class="container">
        <mat-card>
            <h4 class="Titulo">Datos generales</h4>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Apellidos" formControlName="Apellidos" readonly>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Nombres" formControlName="Nombres" readonly>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Cédula" formControlName="Cedula" readonly>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Cargo - Rol" formControlName="CargoRol" readonly>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Unidad de negocio" formControlName="UnidadNegocio" readonly>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Teléfono" formControlName="TelefonoExt" readonly>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
        <br>
        <mat-card>
            <h4 class="Titulo">Tipo de permiso</h4>
            <hr>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <mat-radio-group formControlName="TipoPermiso" (change)="TipoPermisoSelect($event)" disabled>
                        <mat-radio-button value="Licencia" style="margin-right: 14px;">Licencia</mat-radio-button>
                        <mat-radio-button value="Permiso" style="margin-right: 14px;">Permiso</mat-radio-button>
                        <mat-radio-button value="Trabajo fuera de la planta" style="margin-right: 14px;">Trabajo fuera de la planta</mat-radio-button>
                        <mat-radio-button value="Otro" style="margin-right: 14px;">Otro</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row" *ngIf="otroTipoPermiso">
                <div class="col-md-5 offset-md-1">
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="¿Cuál?" formControlName="OtroMotivo" readonly>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
        <br>
        <mat-card>
            <h4 class="Titulo">Motivo del permiso</h4>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="MotivoPermiso" readonly></textarea>
                    </div>
                </div>
            </div>

        </mat-card>
        <br>
        <mat-card>
            <h4 class="Titulo">Duración del permiso</h4>
            <hr>
            <div class="row">
                <div class="col-6">
                    <mat-card>
                        <h6 class="Titulo"><strong>Fecha y hora en la que inicia el permiso</strong></h6>
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field style="width: 100%">
                                    <mat-select placeholder="Seleccione la hora" formControlName="HoraInicio" disabled>
                                        <mat-option [value]="itemHora" *ngFor="let itemHora of hora">{{itemHora}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field style="width: 100%">
                                    <input matInput [matDatepicker]="picker1" placeholder="Fecha de inicio del permiso" [min]="minDateFechaInicio" (dateChange)="setFechaFin($event)" formControlName="FechaInicio" disabled readonly>
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-6">
                    <mat-card>
                        <h6 class="Titulo"><strong>Fecha y hora en la que finaliza el permiso</strong></h6>
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field style="width: 100%">
                                    <mat-select placeholder="Seleccione la hora" formControlName="HoraFin" disabled>
                                        <mat-option [value]="itemHora" *ngFor="let itemHora of hora">{{itemHora}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field style="width: 100%">
                                    <input matInput [matDatepicker]="picker" placeholder="Fecha fin del permiso" [min]="minDateFechaFin" formControlName="FechaFin" disabled readonly>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </mat-card>
        <br>
        <mat-card *ngIf="ComentarioGH">
            <h4 class="Titulo">Observaciones de Gestión Humana</h4>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="ObservacionGH"></textarea>
                    </div>
                </div>
            </div>
        </mat-card>
        <div class="row" *ngIf="AprobarJefe">
            <div class="col-6  offset-3">
                <button type="button" style="margin-right: 30px" class="btn btn-success" (click)="AprobarSolicitud()">Aprobar Solicitud</button>
                <button type="button" class="btn btn-danger" (click)="RechazarSolicitud()">Rechazar Solicitud</button>
            </div>
        </div>
        <div *ngIf="RecepcionGH">
            <br>
            <div class="row">
                <div class="col-3  offset-4">
                    <button type="button" style="margin-right: 30px" class="btn btn-success" (click)="RecibirSolicitud()">Recibir Solicitud</button>
                </div>
                <div class="col-4">
                    <button type="button" style="margin-right: 30px" class="btn btn-success" (click)="generarPdf()">Generar PDF</button>
                </div>
            </div>
        </div>
    </div>
</form>
<ng4-loading-spinner> </ng4-loading-spinner>